link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css")
script(src='https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css')



style
  | body {
  |   overflow: hidden;
  | }

body
  .p-5.text-center.bg-image(style="\
  background-image: url('https://images.pexels.com/photos/2102416/pexels-photo-2102416.jpeg');\
  height: 100vh ;\
  background-size: cover ;\
  background-position: center ;\
  background-repeat: no-repeat ;\
  ")
    .mask(style='background-color: rgba(0, 0, 0, 0.5); height: 90%; border-radius: 5px;')
      .d-flex.justify-content-center.align-items-center.h-100
        .text-white.animate__animated.animate__fadeIn
          h1.mb-3 Daffa Apta Pratama
          h6.mb-4 PROGRAMMER & PHOTOGRAPHER
          a.btn.btn-outline-light.btn-lg(href='/contact' role='button') Call to action

// Aktifkan animasi saat halaman dimuat
script.
  function activateAnimations() {
    $('.animate__animated').each(function () {
      var elem = $(this);
      elem.waypoint({
        handler: function () {
          elem.addClass('animate__fadeIn');
        },
        offset: 5% // Ubah ini sesuai dengan kapan animasi harus dimulai
      });
    });
  }
  // Aktifkan animasi saat halaman dimuat
  $(document).ready(function () {
    activateAnimations();
  });
