nav.navbar.navbar-expand-lg.bg-body-tertiary
  .container-fluid
    a.navbar-brand(href='/') PRA
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarColor04' aria-controls='navbarColor04' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarColor04.collapse.navbar-collapse
      ul.navbar-nav.ms-auto 
        li.nav-item
          a.nav-link(href='/')
            | Home
            span.visually-hidden (current)
        li.nav-item
          a.nav-link(href='/about') About
        li.nav-item
          a.nav-link(href='/portfolio') Portfolio
        li.nav-item
          a.nav-link(href='/contact') Contact
