nav.navbar.navbar-expand-lg.bg-body-tertiary
  .container-fluid
    a.navbar-brand(href='/') PRA
      img(src="https://o.remove.bg/downloads/125d78a7-2878-4bf8-b9e4-52ee3352b779/WhatsApp_Image_2023-08-13_at_22_52_03-transformed__2_-removebg-preview.png", alt="", class="navbar-logo")
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarColor04' aria-controls='navbarColor04' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarColor04.collapse.navbar-collapse
      ul.navbar-nav.ms-auto 
        li.nav-item
          a.nav-link(href='/')
            | Home
            span.visually-hidden (current)
        li.nav-item
          a.nav-link(href='/about') About
        li.nav-item
          a.nav-link(href='/project') Project
        li.nav-item
          a.nav-link(href='/contact') Contact

style.
  .navbar-logo {
    max-width: 40px;
    height: auto;
    padding-left: 10px
  }
