include navbar.pug
title Portfolio

.container
  .section-title.text-center
    h2 Portfolio
  .row.portfolio-container(data-aos='fade-up' data-aos-delay='100')
    .col-lg-4.col-md-6.portfolio-item.filter-design
      .portfolio-wrap
        img.img-fluid(src='/images/Sample-PNG-Image.png', alt='Portfolio 1')
        .portfolio-links
          a.portfolio-lightbox(href='/images/Sample-PNG-Image.png', data-gallery='portfolioGallery', title='Design 1')
            i.bx.bx-plus
          a(href='#') More Details
    .col-lg-4.col-md-6.portfolio-item.filter-design
      .portfolio-wrap
        img.img-fluid(src='assets/img/portfolio/portfolio-2.jpg', alt='Portfolio 2')
        .portfolio-links
          a.portfolio-lightbox(href='assets/img/portfolio/portfolio-2.jpg', data-gallery='portfolioGallery', title='Design 2')
            i.bx.bx-plus
          a(href='#') More Details
    .col-lg-4.col-md-6.portfolio-item.filter-design
      .portfolio-wrap
        img.img-fluid(src='assets/img/portfolio/portfolio-3.jpg', alt='Portfolio 3')
        .portfolio-links
          a.portfolio-lightbox(href='assets/img/portfolio/portfolio-3.jpg', data-gallery='portfolioGallery', title='Design 3')
            i.bx.bx-plus
          a(href='#') More Details
    <!-- Add more portfolio items as needed -->

// CDN Link to AOS Library and Bootstrap Styles
script(src='https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css')
link(rel='stylesheet', href='https://bootswatch.com/5/lux/bootstrap.css')
