include navbar.pug
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
title Project 
style
  .card {
  |   height: 200%;
  | }
  | .card-img-top {
  |   object-fit: cover;
  |   height: 230px; /* Sesuaikan dengan tinggi yang Anda inginkan */
  |   width: 200%; /* Atur lebar gambar menjadi 100% */
  | }
body 
  .container-fluid
    .row(style='margin: 50px;')       
      center.col-md-4.col-sm-6
        .card-deck
          .card.mb-3
            .card-body
              h5.card-title User Interface
              img.card-img-top(src="https://im.vsco.co/aws-us-west-2/9342a1/85157960/64db1b4d34f6e83143000003/f5607ed0-2589-4650-af30-a411ed14fe638796964882680217771.jpg?w=1200", alt="")
              p.card-text "Process of designing an innovative web user interface (UI) on the Figma platform. With meticulous attention to detail, my aim is to craft a seamless and inspiring user experience."
              .card-footer.text-muted  04 September 2022

      center.col-md-4.col-sm-6
        .card-deck
          .card.mb-3
            .card-body
              h5.card-title Photo hut 42 s40
              img.card-img-top(src="https://im.vsco.co/aws-us-west-2/9342a1/85157960/64e5a70434f6e851fe000001/3c1f18d3-b465-4b5c-bf53-789e22a2b1f82389374525056244065.jpg?w=1200", alt="")
              p.card-text "In these snapshots, i capture the essence of the Sumatra 40 School Anniversary Celebration, showcasing candid moments of joy, heartfelt speeches, and the spirit of unity and celebration."
              .card-footer.text-muted 7 August 2022

      center.col-md-4.col-sm-6
        .card-deck
          .card.mb-3
            .card-body
              h5.card-title Student ID Card
              img.card-img-top(src="https://im.vsco.co/aws-us-west-2/9342a1/85157960/64db23d534f6e83143000007/56c9cfc9-a0dd-40f9-9db1-10b564ef8e1b7511229450732024435.jpg?w=1200", alt="")
              p.card-text "Our Student ID Card designs seamlessly combine functionality with modern aesthetics, serving as both essential identification and a testament to our commitment to stylish design."
              .card-footer.text-muted 8 October 2022

// CDN Link to AOS Library and Bootstrap Styles
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css')
link(rel='stylesheet', href='https://bootswatch.com/5/lux/bootstrap.css')
